# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# IntelliJ
# ==========================

.idea/

# ==========================
# React
# ==========================

frontend/node_modules/
frontend/dist/

# ==========================
# Spring Boot
# ==========================

backend/target/

# ==========================
# Environment Files
# ==========================

.env

# ==========================
# Logs
# ==========================

*.log